RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

AuthName "This My Awesome Drupal Site Area!!.. Identify Yourself First."
AuthType Basic
AuthUserFile "C:\xampp\htdocs\Kampfsportschule\.htpasswd"
require valid-user